@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  width: 550px;
  margin: 50px auto;
  overflow: auto;
  height: 550px;
  border: 1px solid gray;
  border-radius: 5px;
}
